<h1>This is the featured page</h1>

<h2>Closest</h2>
<%= render 'shared/featured-kebab-card', kebab: @near_kebab.first %>

<h2>Cheapest</h2>
<%= render 'shared/featured-kebab-card', kebab: @cheapest_kebab %>

<h2>Top Rated</h2>
<%= render 'shared/featured-kebab-card', kebab:  @review_kebab %>

<br>
<br>
<br>
<br>
<br>

<%= link_to 'See All Kebabs', kebab_shops_path %>
