<h1>This is the featured page</h1>

<h2>Closest</h2>
<p>This is where the card goes</p>
<h2>Cheapest</h2>
<p>This is where the card goes</p>
<h2>Top Rated</h2>
<p>This is where the card goes</p>

<br>
<br>
<br>
<br>
<br>

<%= link_to 'See All Kebabs', kebab_shops_path %>
