<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center flex-column">

<h2 class="title">Closest</h2>
Closest Card
<h2 class="title">Cheapest</h2>
Cheapest Card
<h2 class="title">Top Rated</h2>
Top Rated Card

<br>
<br>
<br>
<br>
<br>

<%= link_to 'See All Kebabs', kebab_shops_path %>
    </div>
  </div>
</div>

<%=  render 'shared/footer' %>
