<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <% @kebab_shops.each do |kebab| %>
      <h1><strong><%= kebab.name %></strong></h1>
      <h2>Adress: <%= kebab.address %></h2>
      <% end  %>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
</div> <!-- end of container -->









<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div id="map" style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
