<div class="container-fluid">
  <div class="row">
    <div class="col-12 wrapper">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80;">
          <%= link_to 'Kebab Me', kebab_shops_path, class: 'frontpagebutton' %>
      </div>
    </div>
  </div>
</div>
