<head>
  <meta http-equiv="refresh" content="3; url=<%= kebab_shops_path %>">
</head>
<div class="container falafel-body">
  <div class="row">
    <div class="col-12 col-lg-6">
    <div class="falafel-container">
      <ul>
        <div class="ball one"></div>
        <div class="ball two"></div>
        <div class="ball three"></div>
      </ul>
      <img class="pita" src="//Yariv.io/Portfolio/jumpy-falafel/salad-pita.svg" alt="pita with falafel">
    </div>
    </div>
    <h1 class="logo">the KebApp</h1>
  </div>
</div>
