
<div class="filter-containe">
  <div class="row justify-content-center">
    <input type="radio" name="tabs" id="tab1" />
      <label for="tab1" id="label1">
        <div class= "see-all-kebabs-button mt-5 col-s"> <%= link_to "Sort by distance", filter_path(filter: :distance), remote: true, class: "all-filter" %></div>
      </label>

    <input type="radio" name="tabs" id="tab2" />
      <label for="tab2" id="label2">
        <div class= "see-all-kebabs-button mt-5 col-s"> <%= link_to "Sort by price", filter_path(filter: :price), remote: true, class: "all-filter" %></div>
      </label>

    <input type="radio" name="tabs" id="tab3"/>
      <label for="tab3" id="label3">
        <div class= "see-all-kebabs-button mt-5 col-s">   <%= link_to "Sort by rating", filter_path(filter: :rating), remote: true, class: "all-filter" %></div>
      </label>
  </div>
</div>
