<div class="navbar">
   <strong>Current location:</strong> Nørrebro, København</h4>
</div>
<!--   <strong>Current location:</strong> <%#= "#{cookies[:neighborhood]}, #{cookies[:city]}" %></h4> -->



