<div class="flexbox">
  <form method="get" id = "search-form" action="/kebab_shops">
  </form>
  <div class="search">
    <div>
        <input type = "text" name="name" form = "search-form" placeholder="Search a kebab shop"required>
    </div>
  </div>
</div>
