<h1>Design</h1>

<h2>Button Design</h2>

<button class="frontpagebutton">
  <span>
    <svg>
      <use xlink:href="#circle"/>
    </svg>

    <svg>
      <use xlink:href="#check"/>
    </svg>
  </span>

  <ul>
    <li>Kebab me</li>
    <li>Getting Kebabed</li>
    <li>Kebabed</li>
  </ul>
</button>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="circle">
    <circle cx="8" cy="8" r="7.5"></circle>
  </symbol>

  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="check">
    <path d="m.65909042 4.04356308 2.43156433 2.43156433 5.83150483-5.83150482" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25"/>
  </symbol>
</svg>

<%= javascript_pack_tag 'frontpagebutton' %>


<h2>This is cards</h2>

<div class="container">
  <div class="row">
    <% 6.times do %>
    <div class="col-12 col-lg-6">
      <div class="kebapp-card">
        <div class="kebapp-card-top" style="background-image: url('https://withberlinlove.com/wp-content/uploads/2018/07/Gem%C3%BCse-D%C3%B6ner-im-Brot-at-R%C3%BCyam-Gem%C3%BCse-Kebab-Berlin.jpg')">
            <h2 class="kebapp-store-name">Kebabistan</h2>
        </div> <!--end of kebapp-card-top-->

        <div class="kebapp-card-text">
          <p class="kebapp-card-hours">Open: 17.00-02.00</p>
          <p class="kebapp-card-rating"></p>
          <p class="kebapp-card-price">Price: 45.DDK</p>
          <p class="kebapp-card-distance">500m away</p>
        </div> <!--end of kebab-card-text -->
      </div> <!--end of kebapp-card -->
    </div> <!--end of col-->
    <% end %>
  </div> <!--end of row-->
</div> <!--end of container-->





















