<h1>Design Page</h1>

<h2>This is cards</h2>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="kebapp-card">
        <img src="https://withberlinlove.com/wp-content/uploads/2018/07/Gem%C3%BCse-D%C3%B6ner-im-Brot-at-R%C3%BCyam-Gem%C3%BCse-Kebab-Berlin.jpg" alt="kebab">
        <div class="kebapp-store-name">
          <h2>Kebabistan</h2>
        </div> <!--end of kebab-store-name -->
        <div class="kebapp-card-text">
          <div>
          <p>Open: 17.00-02.00</p>
          <p>Price: 45.DDK</p>
          <p>1.km away</p>
          </div>
        </div> <!--end of kebab-card-text -->
      </div> <!--end of kebab-card -->
    </div> <!--end of col-->
  </div> <!--end of row-->
</div> <!--end of container-->


