<h1>Design Page</h1>

<h2>This is cards</h2>

<div class="container">
  <div class="row">
    <% 5.times do %>
    <div class="col-12 col-lg-6">
      <div class="kebapp-card">
        <div class="kebapp-card-top" style="background-image: url('https://withberlinlove.com/wp-content/uploads/2018/07/Gem%C3%BCse-D%C3%B6ner-im-Brot-at-R%C3%BCyam-Gem%C3%BCse-Kebab-Berlin.jpg')">
            <h2 class="kebapp-store-name">Kebabistan</h2>
        </div> <!--end of kebapp-card-top-->
        <div class="kebapp-card-text">
          <p class="kebapp-card-hours">Open: 17.00-02.00</p>
          <p class="kebapp-card-price">Price: 45.DDK</p>
          <p class="kebapp-card-distance">500m away</p>
        </div> <!--end of kebab-card-text -->
      </div> <!--end of kebapp-card -->
    </div> <!--end of col-->
    <% end %>
  </div> <!--end of row-->
</div> <!--end of container-->


