#myCanvas {
    display: block;
}

.frontbutton {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 7px 20px;
    width: 200px;
    border-radius: 10px;
    color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    border: 5px solid transparent;
    border-bottom-color: rgba(0,0,0,0.35);
    background: hsla(260, 100%, 50%, 1);
    cursor: pointer;
    outline: 0 !important;
    animation: pulse 1s infinite alternate;
    transition: background 0.4s, border 0.2s, margin 0.2s;
}
#button:hover {
    background: hsla(220, 100%, 60%, 1);
    text-decoration: none;
    margin-top: -1px;
    animation: none;
}
#button:active {
    border-bottom-width: 0;
    text-decoration: none;
    margin-top: 5px;
}
@keyframes pulse {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 6px;
    }
}
