.kebab-font {
  font-family: 'Acme', sans-serif;
  text-shadow: 1.5px 1.5px gray;
}

.height-width {
height: 220px;
width: 335px;
background-position: center;
background-size: cover;
margin: 0 auto;
border-radius: 10px;
}

