.kebapp-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-grap: 16px;
  padding: 5px 5px;
  position: relative;
  box-shadow: 0 0 30px rgba (0,0,0,0,2);
  border: 1px solid;

  }

.kebapp-store-name {
  position: absolute;
  bottom: 40px;
  right: 180px;
  h2 {
   font-family: 'Bangers', cursive;
   font-size: 50px;
  }
  }

.kebapp-card img {
  height: 350px;
}

.kebapp-card-text {
  padding: 16px;


}






