.kebab-font {
  font-family: 'Acme', sans-serif;
}

.height-width {
height: 220px;
width: 335px;
background-position: center;
background-size: cover;
margin: 0 auto;
border-radius: 10px;
  .texty {
    position: fixed;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    // top: 270px;
    // right: 70px;
    color: white;
    font-weight: 50px;
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 5px 10px;
    border-radius: 50px;
    font-family: 'Acme', sans-serif;
  }
}

