body {
  color: white;
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.kebapp-card-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.kebapp-card {
  padding: 5px 5px;
  position: relative;
  box-shadow: 0 0 30px rgba (0,0,0,0,5);
  border: 0,5px solid;
  background-color: white;
  height: 300px;
  margin: 10px 10px;
}

.kebapp-store-name {
   font-family: 'Bangers', cursive;
   font-size: 50px;
}

.kebapp-card .kebapp-card-text {
  padding: 16px;
  color: black;
  position: relative;
  font-family: 'Homenaje', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.kebapp-card-price {
  position: absolute;
  right: 10px;
  color: #f34573;
}








