.kebapp-card-top {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.kebapp-card {
  padding: 5px 5px;
  position: relative;
  box-shadow: 0 0 30px rgba (0,0,0,0,5);
  border: 0,5px solid;
  background-color: white;
  height: 300px;
  margin: 10px 10px;
}

.kebapp-store-name a {
   font-family: 'Bangers', cursive;
   text-decoration: none;
   font-size: 50px;
   color: white;
}

.kebapp-card .kebapp-card-text {
  padding: 16px;
  color: black;
  position: relative;
  font-family: 'Homenaje', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.kebapp-card-price {
  position: absolute;
  right: 10px;
  color: #f34573;
}

.kebapp-card-hours a {
  color: black;
  text-decoration: none;
}

.kebapp-card-rating {
  position: absolute;
  top: 17px;
  right: 10px;
}
