@import url('https://fonts.googleapis.com/css?family=Rubik:900');
/*box gradient*/
a:after {
 content: '';
 background: linear-gradient(120deg, #FEAC5E, #C779D0, #4BC0C8);
 background-size: 400% 400%;
 -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
 -moz-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
 -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
 animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
}
/*text gradient*/
a.bttn-marie  > span {
 display: block;
 background: linear-gradient(120deg, #FEAC5E, #C779D0, #4BC0C8);
 background-size: 400% 400%;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -moz-animation: gradient 3s ease-in-out infinite;
 -webkit-animation: gradient 3s ease-in-out infinite;
 animation: gradient 3s ease-in-out infinite;
}
.text-formatting, a.bttn-marie {
 font-family: 'Rubik', sans-serif;
 font-size: 30px;
 text-decoration: none;
 color: #FEAC5E, #C779D0, #4BC0C8;
}

a.bttn-marie:active {
 text-decoration: none;
}


/* motion of text */
@keyframes gradient {
 0% {
   background-position: 14% 0%;
 }
 50% {
   background-position: 87% 100%;
 }
 100% {
   background-position: 14% 0%;
 }
}

/*motion of border */
@-webkit-keyframes border {
 0% {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%);
 }
 25% {
   -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
 }
 50% {
   -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
 }
 75% {
   -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
 }
 100% {
   -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
 }
}
/*button*/
.flex {
 min-height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.bttn-marie {
 width: 250px;
 height: 80px;
 line-height: 90px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
 position: relative;
}

.bttn-marie:after {
 transition: 0.2s all ease;
 position: absolute;
 top: 150px;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 border-radius: 3px;
}




