.menu-container{
  border: 5px solid red;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.menu-title-button{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.menu-title{
  text-align: center;
  font-weight: bold;
}

.menu-descritpion{
  text-align: center;
}

.menu-price{
  text-align: center;
   margin-bottom: 20px;
}
